{% extends 'space/base.html' %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="{% url 'update' space.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="title">제목</label>
        <input type="text" name="title" id="title" value="{{space.title}}">
        <br>
        <label for="author">작성자</label>
        <input type="text" name="author" id="author" value="{{space.author}}">
        <br>
        <label for="context">내용</label>
        <textarea name="context" id="context" cols="30" rows="10">{{space.context}}</textarea>
        <br>
        <!-- 이미지 업로드 필드 추가 -->
        <label for="image">이미지 업로드</label>
        <input type="file" id="image" name="image">
        <br>
        <label for="id_category">카테고리</label>
        <select name="category" id="id_category">
            {% for category in categories %}
                <option value="{{ category.id }}" {% if category.id == space.category_id %} selected {% endif %}>{{ category.name }}</option>
            {% endfor %}
        </select>
        <button type="submit">제출</button>
    </form>
</body>
{% endblock %}
