<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
</head>
<body>
    <form action="{% url 'create' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="id_title">제목</label>
        {{ form.title }}
        <br>
        <label for="id_author">작성자</label>
        {{ form.author }}
        <br>
        <label for="id_context">내용</label>
        {{ form.context }}
        <br>
        <label for="id_image">이미지 업로드</label>
        {{ form.image }}
        <br>
        <button type="submit">제출</button>
    </form>
</body>
</html>
