{% extends 'space/base.html' %}

{% block content %}
<head>
  <style>
    /* 스타일 부분 */
    .post {
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #ccc;
      overflow: hidden;
    }

    .post img {
      width: 100%;
      height: auto;
    }

    .post h2 {
      font-size: 24px;
      margin-top: 10px;
    }

    .post p {
      font-size: 14px;
      margin-top: 5px;
    }
  </style>
</head>
<body>


  <h1>welcome to spacelog</h1>
  <a href="{% url 'new' %}">새 글 쓰기</a>
  <a href="{% url 'category_create' %}">새 카테고리 만들기</a>
    {% for space in spaces %}
      <div class="post">
        {% if space.image %}
          <img src="{{ space.image.url }}" alt="{{ space.title }} 이미지"style="width: 10%; height: 10%;">
        {% endif %}
        <h2>{{ space.title }}</h2>
        <a href="{% url 'detail' space.id %}">{{ space.author }}</a>
      </div>
    {% endfor %}
{% endblock %}
</body>
</html>
